body{
	margin: 20px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
	
}
.bouton{
	font-size: 11px;
	color: white;
	padding: auto;
	background-color: black;
	text-align: center;
	padding-right:4%;
	padding-left:4%;
	padding-top: 2%;
	padding-bottom: 2%
}
nav{
	margin-right: 20px;
	margin-left: 20%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
