body{
    margin: 0%;
    padding: 0%;
}
div{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr ;
    gap: 3%;
}
a{
    margin: 3;
    text-align: center;
    text-decoration: none;
    color: black;
    border: solid;
    border-color: rgb(105, 75, 133);
}