#grid{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
}
.grille{
    margin-top: 5%;
    grid-column: 2;
    display: block;
    align-items: center;
}
#competence h1{
    color: wheat;
    text-align: center;
    display: block;
}

#competence img {
    text-align: center;
    width: 100%;
}

