#contact{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: repeat(10,5%);
    width: 100%;
    
}
#contact form{
    text-align: center;
    grid-column: 2;
    grid-row: 6;
}
#contact form div{
    display: flex;
    justify-content: center;
    
}
#contact input{
    background-color: rgb(202, 175, 124);
    color: rgb(31,31,31);
}
#contact textarea{
    background-color: rgb(202, 175, 124);
    color: rgb(31,31,31);
}
#contact p{
    color: wheat;
    margin: 0.3%;
}