body{
    background-color: bisque;
    background-image: url("https://freepngimg.com/save/80588-jojo-all-jotaro-star-kujo-joint-higashikata/1130x1370");
}
h1{
    color: blue;
    margin-right: 90%;
    padding: auto;
}
h2{
    color: white;
}
h3{
    color: red;
}